html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 800;
}

.main-color {
  color: #000334;
}

.btn-color {
  background-color: #000334;
  color: #fff;
}

.cta-color {
  background-color: #000334;
  color: #fff;
}

.btn-color:hover {
  background-color: #ffffff;
  border: 1px solid #000334;
  color: #000334;
}

.skills-box {
  background-color: #000334;
  color: rgb(204, 204, 204);
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.skill-icon {
  color: #10c100 !important;
}

.links-tab {
  font-size: 30px;
}

.portfolio {
  margin-top: 100px;
}

.cta {
  margin-top: 100px;
}

.contact {
  margin-top: 100px;
}
